# PayPal Configuration
CLIENT_ID=AY4mEBgP-_osVDKMl96b1WbaUsgUpzVyljLBpcsde1AjwijOZKUCoite9tvVcdRCiiHvJIhEN0Inrro9
CLIENT_SECRET=EBqOSQMTbfKkOIbJa9DcuVnF4tbLlEEi55kjBsUOgcD9R8sIkZNsi4L6NpDhXkwwGXvP6KgXxPT_0Da7
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# Server Configuration
PORT=3000

# Note: For production, change PAYPAL_API_URL to https://api-m.paypal.com
# Get your PayPal credentials from: https://developer.paypal.com/dashboard/applications/sandbox
